
.cuadrado {
    background-color: #0b9975;
    width: 900px;
    height: 100px;
    float: left;
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    text-align: center;
}
.resultado {
    background-color: #c6cab9;
    float: left;
    width: 900px;
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    height: 400px;
    text-align: center;
}

.principal{
    background-color: rgb(70, 179, 135);
    width: 900px;
    height: 40px;
    font-weight: bolder;
    font-size: x-large;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: 5px;
}
#tImagen{
        background-color: #eee7f6;
        font-weight: bolder;
        
        text-align: center;
        margin: 5px;
    }
